.navbar-nav>li>a{
  color: #FFFFFF;
}
.nav{
  background-color: #3B5998;
}
body{
  background-color: #DFE3EE;
}
mark{
  background-color: #ffcccc;
  color:black;
}
#LeftPane{
  margin-top: 20px;
}
#Viewmodelheader{
  margin-top: 10px;
}

table {
    table-layout: fixed;
}
